*{
    margin: 0;
    padding: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /*Por si no lo soporta el navegador*/
    height: 100dvh;
}

main{
    width: 400px;
    max-width: 100%;
    height: 70vh;

    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin-bottom: 16px;

    overflow-y: auto;
    scroll-behavior: smooth;
}

ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.message{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 4px 0;
    padding: 4px 8px;
    
    
}

.message > span:first-child {
    width: 36px;
    height: 36px;
    background: #eee;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.message > p{
    border-radius: 4px;
    padding: 4px 8px;
}

.user{
    align-self: flex-end;
    align-items: flex-end;
}

.user span:first-child {
    background-color: rgb(219, 236, 255);
}
.user p {
    background-color: rgb(219, 236, 255);
}

.bot{
    align-self: self-start;
}

.bot span:first-child {
    background-color: rgb(198, 255, 220);
}
.bot p {
    background-color: rgb(198, 255, 220);
}

form{
    display: flex;
    width: 420px;
}

form input{
    border-radius: 999999px;
    flex-grow: 1;
    border: 0;
    padding: 12px;
    margin-right: 8px;
    border: 1px solid #ccc;
}

form button{
    background: #09f;
    border: 0;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px;
    margin: 0;
    transition: background .3s ease;
}

button[disabled]{
    background: #ccc;
    opacity: .6;
    pointer-events: none;
}

button:hover{
    background: rgb(0, 104, 173);
}

small {
    font-size: 10px;
    color: #555;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 2rem auto 0;
}